<ion-view view-title="MY TICKET">
  <ion-content>
    
	  <div class="row">
		<div class="col">
			<div class="card redrectangle">
				<div class="row">
					<div class="col ">
						<div class="detailiconimage text-center">
							<img src="assets/img/1.png">
						</div>
					</div>
					<div class="col col-80">
						<div class="maincardinfo text-center maincardinfodetail">
							<h4 class="cardtitle">CHECKED-OUT</h4>

							<div class="row">
								<div class="col col-50">
									<p><b>57</b></p>
									<p>Cars checked out</p>
									<p>(last 24 hours)</p>
								</div>
								<div class="col col-50">
									<p><b>4</b></p>
									<p><i class="icon ion-alert-circled"></i> LATE RETURNS</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	  	</div>
	  </div>
	  
	 <div class="row">
		<div class="col col-offset-50"> 
			<div class="list ">
			  <label class="item item-input searchlist">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" class="searchtextbox" placeholder="" ng-model="query">
			  </label>
			</div>
	 	</div>
	  </div>
	  <div class="row">
		<div class="col"> 
			<div class="row header">
          <div class="col td">Ticket</div>
          <div class="col td">Plate</div>
          <div class="col td">Time Created</div>
          <div class="col td">Duration</div>
          <div class="col td">Status</div>
		  <div class="col td">---</div>		
        </div>
        <div class="row tr" ng-repeat="data in data1 | filter:query">
          <div class="col td">{{data.name}}</div>
          <div class="col td">{{data.code}}</div>
          <div class="col td">{{data.limit}}</div>
          <div class="col td">{{data.duration}}</div>
		  <div class="col td">{{data.status}}</div>
          <div class="col td"><img src="assets/img/eye.png" class="eye"></div>
        </div>
			 <div class="text-center" ng-show="(data1 | filter:query).length == 0">
				<h5>No Search results found</h5>
			</div>
	 	</div>
	  </div>
	  <div class="text-center">
	  <button class="button button-yellowdark">
		 BACK
		</button>
	  </div>
  </ion-content>
</ion-view>
