<ion-view view-title="CUSTOMER NAME">
  <ion-content>
    <h4 style="margin-left:10px;">TICKET DETAILS</h4>
	  <div class="card">
	  	<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label">TICKET # : </span>
			<input type="text">
		  </label>
		  
		</div>
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label">PLATE # : </span>
			<input type="text">
		  </label>
		</div>
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label">MOBILE # : </span>
			<input type="text">
		  </label>
		</div>  
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label"><SUP>CHECKED-IN TIME & DURATION  : </SUP></span>
			<input type="text">
		  </label>
		</div>   
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label"><SUP>CAR MAKE, MODEL & COLOR:</SUP> </span>
			<input type="text">
		  </label>
		</div> 
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label">STATUS : </span>
			<input type="text">
		  </label>
		</div> 
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label"><SUP>TICKET CREATED BY :</SUP> </span>
			<input type="text">
		  </label>
		</div>
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label">COMMENT : </span>
			<input type="text">
		  </label>
		</div>
		<div class="list formlist">
		  <label class="item item-input">
			<span class="input-label">IMAGES : </span>
			<input type="text">
		  </label>
		</div>
		<h4 style="margin-left:15px;">VIP</h4>
	  </div>
	  <div class="text-center">
	  <button class="button button-yellowdark">
		  Pick Up
		</button>
	  </div>
  </ion-content>
</ion-view>
