<ion-view view-title="NEW TICKET">
	
	<ion-content>
	
		<div class="card">
			<h5 class="browncolor">TICKET : K01-02</h5>
			<div class="list noborder-form">
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label customitem">
							<div class="input-label">PLATE SOURCE : </div>
							<div class="customselect">
								<select>
									<option selected>UAE-DUBAI</option>
									<option>INDIA</option>
									<option>AUSTRALIA</option>
								</select>
							</div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label customitem">
							<span class="input-label">PLATE CODE :</span>
							<div class="customselect">
								<input type="text" class="darkinput">
							</div>
						</label>
					</div>
					<div class="col">
						<label class="item item-input item-stacked-label">
							<span class="input-label">PLATE # :</span>
							<div class="customselect">
								<input type="text" class="darkinput">
							</div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label class="item item-input item-stacked-label customitem">
							<div class="input-label">MOBILE # : </div>
							<div class="customselect">
								<select>
									<option selected>+91</option>
									<option>+1</option>
									<option>+23</option>
								</select>
							</div>
						</label>
					</div>
					<div class="col col-67">
						<label class="item item-input item-stacked-label customitem">
							<div class="input-label">&nbsp;</div>
							<div class="customselect">
								<input type="text" class="darkinput">
							</div>
						</label>	
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
						  <label class="item lesspadding">
							<span class="input-label floterleft customlabelpadding">VIP :</span>
							  <div class="floterleft"><span> YES</span>
							<label class="toggle toggle-energized">
							   <input type="checkbox">
							   <div class="track">
								 <div class="handle"></div>
							   </div>
							</label><span> NO</span>
							  </div>
						  </label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="list">
						  <label class="item lesspadding">
							<span class="input-label floterleft customlabelpadding">DOB :</span>
							  <div class="floterleft"><span> YES</span>
							<label class="toggle toggle-energized">
							   <input type="checkbox">
							   <div class="track">
								 <div class="handle"></div>
							   </div>
							</label><span> NO</span>
							  </div>
						  </label>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="text-center">
			<button class="button button-yellowdark">
				CANCEL
			</button>
			<button class="button button-yellowdark"  ng-click="showConfirm()">
				PARK
			</button>
		</div>
		
	</ion-content>
</ion-view>