<ion-view view-title="TICKET MANAGEMENT">
  <ion-content>
    <div class="row">
	  <div class="col">
		<div class="card customcard">
			<div class="imagediv">
				<img src="assets/img/userimage.png">
			</div>
			<div class="textdiv">
				<h4 class="username">Sherlock Holmes</h4>
				<p class="userinfo">Valet Attendant</p>
				<p class="userinfo">Schedule: 8:00AM - 5:00PM </p>
			</div>
		 </div>
	  </div>
	</div>
	<div class="row">
		<div class="col col-50">
			<a href="#/app/myticket">
			<div class="card squarecards squarered">
				<div class="icondiv text-center">
					<img src="assets/img/1.png">
				</div>
				<div class="maincardinfo text-center">
					<h4 class="cardtitle">CHECKED-OUT</h4>
					<p><b>57</b></p>
					<p>Cars checked out</p>
					<p>(last 24 hours)</p>
					<hr>
					<p><i class="icon ion-alert-circled"></i> LATE RETURNS</p>
				</div>
			</div>
			</a>	
		</div>
		<div class="col col-50">
			<a href="#/app/myticket">
			<div class="card squarecards squaregreen">
				<div class="icondiv text-center">
					<img src="assets/img/ON_BOARD.png">
				</div>
				<div class="maincardinfo text-center">
					<h4 class="cardtitle">ON-BOARD</h4>
					<p><b>57</b></p>
					<p>Cars on-board</p>
					
				</div>
			</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col col-50">
			<a href="#/app/myticket">
			<div class="card squarecards squareblue">
				<div class="icondiv text-center">
					<img src="assets/img/REQUEST.png">
				</div>
				<div class="maincardinfo text-center">
					<h4 class="cardtitle">REQUEST</h4>
					
				</div>
			</div>
			</a>
		</div>
		<div class="col col-50">
			<a href="#/app/newticket">
			<div class="card squarecards squareorange">
				<div class="icondiv text-center">
					<img src="assets/img/NEW_TICKET.png">
				</div>
				<div class="maincardinfo text-center">
					<h4 class="cardtitle">NEW TICKET</h4>
					
				</div>
			</div>
			</a>
		</div>
	</div> 
	<div class="row">
		<div class="col col-50">
			<a href="#/app/myticket">
			<div class="card squarecards squarepurple">
				<div class="icondiv text-center">
					<img src="assets/img/NOTIFICATIONS.png">
				</div>
				<div class="maincardinfo text-center">
					<h4 class="cardtitle">NOTIFICATION</h4>
					
				</div>
			</div>
			</a>
		</div>
		<div class="col col-50">
			<a href="#/app/myticket">
			<div class="card squarecards squareyellow">
				<div class="icondiv text-center">
					<img src="assets/img/MY_TICKET.png">
				</div>
				<div class="maincardinfo text-center">
					<h4 class="cardtitle">MY TICKET</h4>
					
				</div>
			</div>
			</a>
		</div>
	</div>  
  </ion-content>
</ion-view>
