/* Empty. Add your own CSS if you like */
.bar.bar-stable
{
	background: #D57300;
	
}
.bar.bar-stable .title
{
	color: white;
	font-weight: 400;
	text-align: center;
	left: 0 !important;
	right:  0 !important;
}
.bar-stable .button.button-clear
{
	color: white;
}
.scroll-content
{
background: #DBDCDB;
}
.imagediv
{
	float: left;
	
}
.imagediv img
{
	max-width: 90px;
	padding:8px 10px 2px 10px;
	border-radius: 50%;	
}
.username
{
	margin-top: 5px;
    margin-bottom: 5px;
	color: #494A4B;
}
.userinfo
{
	margin-bottom: 5px;
	color: #858282;
}
.customcard
{
	border-radius: 10px;
	box-shadow: 0 7px 0px rgba(0, 0, 0, 0.4);
	    margin: 8px 10px;
}
.icondiv .icon
{
	font-size: 5em;
}
p {
    margin: 0 0 1px;
	color: #656565;
}

.maincardinfo p
{
line-height: 12px;
}
.maincardinfo p b
{
color: black;
}
.maincardinfo hr
{
      border-bottom: 2px dotted #A7A7A7;
	border-top: 0px;
	margin: 5px 10px;
}
.squarecards 
{
	border-radius: 10px;
    
    margin: 8px 10px;
	min-height: 158px;
}

/*card colors*/
.squarered
{
	    box-shadow: 0 7px 0px #EA3D3D;
}
.squarered .cardtitle
{
	color:#EA3D3D;
	margin: 0px;
}

.squarered .icondiv .icon 
{
	color:#EA3D3D;
}

.squaregreen
{
	    box-shadow: 0 7px 0px #259D00;
}
.squaregreen .cardtitle
{
	color:#259D00;
}

.squaregreen .icondiv .icon 
{
	color:#259D00;
}


.squareblue
{
	    box-shadow: 0 7px 0px #2476E5;
}
.squareblue .cardtitle
{
	color:#2476E5;
}

.squareblue .icondiv .icon 
{
	color:#2476E5;
}


.squareorange
{
	    box-shadow: 0 7px 0px #F08200;
}
.squareorange .cardtitle
{
	color:#F08200;
}

.squareorange .icondiv .icon 
{
	color:#F08200;
}

.squarepurple
{
	    box-shadow: 0 7px 0px #9B02C7;
}
.squarepurple .cardtitle
{
	color:#9B02C7;
}

.squarepurple .icondiv .icon 
{
	color:#9B02C7;
}

.squareyellow
{
	    box-shadow: 0 7px 0px #C3D500;
}
.squareyellow .cardtitle
{
	color:#C3D500;
}

.squareyellow .icondiv .icon 
{
	color:#C3D500;
}
/*end colors*/


.squareblue  .icondiv , .squareorange  .icondiv , .squarepurple  .icondiv , .squareyellow  .icondiv 
{
	margin-top: 13px;
}
.header-icon
{
	float: right;
}
.formlist:first-child
{
	margin-top: 10px;
}
.formlist:last-child
{
	margin-bottom: 10px;
}
.formlist
{
	padding: 4px 15px;
    margin-bottom: 0;
}
.formlist .item
{
	background:#9C9D9D;
	color: white;
	border-radius: 5px !important;
}
.formlist .input-label
{
	color: white;
	font-weight: 500;
	    width: 28%;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
	color: white;
}

.icondiv img
{
	margin-top: 10px;
	max-width: 70px;
	margin-right: 10px;
}

.squareorange .icondiv img
{
	max-width: 50px;
}
.squareyellow .icondiv img
{
	margin-right: 0px;
}
.squarepurple .icondiv img
{
max-width: 50px;
	    margin-top: 13px;
	margin-right: 0px;
}
.squareblue .icondiv img
{
margin-top: 30px;
}

.button-yellowdark 
{
	background: rgba(186,110,23,1);
background: -moz-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(186,110,23,1)), color-stop(46%, rgba(186,110,23,1)), color-stop(51%, rgba(172,96,8,1)), color-stop(100%, rgba(172,96,8,1)));
background: -webkit-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: -o-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: -ms-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: linear-gradient(to bottom, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba6e17', endColorstr='#ac6008', GradientType=0 );
    color: white;
    min-width: 130px;
    font-size: 16px;
    padding-bottom: 2px;
}
.button 
{
	border-radius: 8px;
}
.browncolor
{
	color: #D57300;
	margin-left: 15PX;
}
.customitem
{
	padding: 6px 0 5px 5px;
/*	max-width: 94%;*/
}
.customselect select
{
	width: 100%;
	background: #9C9D9D;
	color: #FDF8F8;
	padding: 5px;
	border-radius: 5px;
}

.noborder-form .item
{
	border-width: 0px;
}

.darkinput
{
	background: #9C9D9D !important;
	color: #FDF8F8 !important;
	padding: 5px !important;
	border-radius: 5px !important;
}
.floterleft
{
	float: left;
	padding: 7px 10px 7px 0px;
}
.floterleft span
{
vertical-align: super;
}

.customlabelpadding
{
	margin: 7px;
	width: 20%;
	/*font-weight: 600;*/
}
.lesspadding
{
	padding: 0px 0px;
}

 .button-positive
{
	background: rgba(186,110,23,1);
background: -moz-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(186,110,23,1)), color-stop(46%, rgba(186,110,23,1)), color-stop(51%, rgba(172,96,8,1)), color-stop(100%, rgba(172,96,8,1)));
background: -webkit-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: -o-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: -ms-linear-gradient(top, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
background: linear-gradient(to bottom, rgba(186,110,23,1) 0%, rgba(186,110,23,1) 46%, rgba(172,96,8,1) 51%, rgba(172,96,8,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba6e17', endColorstr='#ac6008', GradientType=0 );
    color: white;
  
    font-size: 20px;
    padding-bottom: 2px;
}

.detailiconimage
{
	display: inline-block;
	padding: 15px;
	padding: 20px 0px 0px 0px;
}
.detailiconimage img
{
	max-width: 64px;
	float: left;
}
.maincardinfodetail 
{
	/*display: inline-block;*/
	
	
}
.redrectangle{
 box-shadow: 0 7px 0px #EA3D3D;
	border-radius: 10px;
}

.ion-alert-circled
{
	color:#C3D500
}
.maincardinfodetail .cardtitle
{
	color:#EA3D3D
}

.searchlist
{
	border-radius: 40px;
	padding: 1px 0 0px 11px;
}
.searchlist .icon
{
	font-size: 20px;
}
.searchtextbox
{
	color:black !important;
	padding-left: 10px !important;
	    padding-bottom: 5px !important;;
}

.header .td {
 
	text-align: center;
	border-top: 0px;;
	 border-right: 0px;
	 border-left: 0px;
	vertical-align: bottom;
	font-weight: 600;
}
.header .td:last-child  {
border-right: 0px;
}
.td {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
	border-left: 0px;
	text-align: center;
	
}
.tr .td{
background: #F1F1F1;
}

.eye
{
	max-width: 30px;
}
a
{
	text-decoration:none;
}
